body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #C7C5B8, #B3B3B3);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.converter {
    width: 500px;
    margin: auto;
    padding: 40px;
    background-color: #F2F2F2;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.converter h2 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #444444;
}

input[type="number"], select {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #87CEEB;
    border-radius: 5px;
    background-color: #E5E5EA;
    color: #444444;
}

button[type="submit"] {
    width: 100%;
    height: 60px;
    background-color: #0097A7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #007A7A;
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #F0F0F0;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #444444;
}